#main a,
#footer p a {
  text-decoration: underline;
  color: #be9a2a;
}
#main a:hover,
#footer p a:hover {
  text-decoration: none;
}

.page-section {
  margin-bottom: 40px;
}

.page-section h1,
.page-section h2,
.page-section h3,
.page-section h4 {
  margin: 1em 0;
}

.page-section p {
  margin-bottom: 20px;
}

#video iframe {
  max-width: 100%;
}

.artwork-page .item-list {
  border-top: 0;
}

.custom-social-media {
  font-size: 21px;
}

.tools-nav li {
  margin: 0 0 0 40px;
}

.center {
  text-align: center;
}

.contain-photo {
  max-width: 100%;
  height: auto;
}

.about-photo {
  margin-top: 20px;
}

.tko-logo {
  width: 200px;
  height: auto;
}

.tko-logo-footer {
  width: 120px;
  height: auto;
}

.hob-flyer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.hob-flyer img {
  display: inline-block;
  margin-bottom: 40px;
  max-width: 100%;
}

.show-announcements {
  text-align: center;
  margin-bottom: 40px;
}

.show-announcements .announcement {
  margin-bottom: 20px;
}

.show-announcements h3 {
  margin-bottom: 20px;
}

.show-announcements button {
  margin: 20px 0;
  display: inline-block;
}

/* Shows page */
.details-info .description p {
  padding-bottom: 20px;
}

.details-info.shade {
  background: #efefef;
  padding: 20px 0;
}

#main .details-info a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
}

#main.shows {
  padding-top: 20px;
}

/* Buttons */
a.btn.auto-size {
  width: auto;
  height: auto;
  display: inline-block;
  padding: 0px 20px;
  color: #fff !important;
  text-decoration: none !important;
}

.important-show-announcement {
  display: flex;
  flex-direction: column;
  margin: 0 10rem 5rem;
  text-align: center;
  padding: 2rem;
  border: 1px solid #ccc;
}

.important-show-announcement p,
.important-show-announcement blockquote,
.important-show-announcement h3 {
  padding-bottom: 1rem;
}
